.about-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.about-container p {
  font-size: 18px;
  margin-bottom: 15px;
}

.about-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

.about-container li {
  font-size: 16px;
}
